<% include partials/header %>


<ul class="list-unstyled">
    <% data.forEach(function (cur,index){ %>
	<li>
	    <%= cur["name"] + " $" %><span id="price-<%=  index %>"><%= cur["price_usd"] %></span>
	    <br>
	    <input type="text" id="in-<%= index %>" value="0">
	</li>
    <% }); %>
</ul>

<p>Total number of currencies: <span id="N"><%= data.length %></span></p>

<button onclick="calc()" class="btn btn-primary btn-block">Calculate</button>


<p>The value of your assets: $<span id="total">0</span></p>


<script type="text/javascript" src="/static/calcTotal.js"></script>

<% include partials/footer %>
